html, body, div, h1, h2, h3, h4, h5, h6, p, a,  img, center,  ol, ul, li,  form, tr, th, td, article, footer, header, hgroup, menu, section audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		overflow-x: hidden;
        direction:ltr;
	}


	article, footer, header menu, nav, section  {
		display: block;
	}

	ol, ul {
		list-style: none;
	}

	
	body {
		-webkit-text-size-adjust: none;
		-ms-overflow-style: scrollbar;
		background: #f4f4f4;
		background-color: #f4f4f4;
		color: #666666;
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 17pt;
		font-weight: 200;
		line-height: 1.65;
		line-height: 1;
		perspective: 1px;
		-webkit-perspective:1px;
	}

	


		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 360px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}
/*
	a {
		-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		-webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
		transition: color 0.2s ease, border-bottom-color 0.2s ease;
		transition: color 0.2s ease, border-bottom-color 0.2s ease;
		text-decoration: none;
		border-bottom: dotted 1px;
	}*/ 

	p {
		margin: 0 0 2em 0;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		line-height: 1.5;
		margin: 0 0 1em 0;
		text-transform: uppercase;
		letter-spacing: 0.375rem;
		color: #444444;
	}
	
/*
		a:hover {
			color: #5b9938 !important;
			border-bottom-color: transparent;
		}
*/

	button, .button, #button, input.button a.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-moz-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		border-radius: 4px;
		border: 0;
		cursor: pointer;
		display: inline-block;
		font-weight: 400 !important;
		height: 3.5em !important;
		line-height: 3.5em !important;
		padding: 0 2em 0 2.375em !important;
		text-align: center !important;
		text-decoration: none !important;
		white-space: nowrap !important;
		text-transform: uppercase !important;
		letter-spacing: 0.325em !important;
		font-size: 28px !important;
		background-color: white !important;
		box-shadow: inset 0 0 0 2px #666666 !important ;
		color: #444444 !important;
        height:50px;
	}

		button:hover,
		.button:hover,
        input.button,
        #button {
			color: #EF6480 !important;
			box-shadow: inset 0 0 0 2px #EF6480; 
		}
        /*#EF6480 red color, #5b9938 green color*/

		
		button:active,
		.button:active,
        input.button,
        #button {
			background-color: rgba(239, 100, 128, 0.15);
		}


		


#header {
    background-color: #444;
    color: rgba(255, 255, 255, 0.75);

    display: flex;

    align-items: center;
    align-items: center;

    justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 8em 0 6em 0;
    background-image: url('images/ferrari01.jpg');
    background-size: cover;
    background-position: center;

    text-align: center;
    position: relative;
    cursor: default;
    

}

		#header h1 {
			margin-bottom: 0.5em;
		}

		#header .inner {
			position: fixed;
			z-index:1;
		}

		#header.alt {
			height: 20em;
			min-height: 20em;
			min-height: 93vh;
		}


		#intro.main{
			margin:auto;
			position: relative;
			min-height: 100vh;
			background-color: #000000;
			width: 100%;
		}
		.img01{
			width: 40%;
			opacity: 0;
			float:right;
		}		

		.img01:hover{
		transition:ease 1.75s;
		opacity: 1;
		}

		video{
			
			display:block;
			width: 100%; 
    		height: 100vh;
		}

		#lil.in{
			background: url('images/ferrari02.jpg') no-repeat center;
			background-size:cover;
			background-attachment: fixed;
			height:40vh;

		}
		

        #wrapper{
        	height: 100vh;
        	text-align:center;
        	margin:auto;
        	
				}

        #d.big{
        	height: 25vh;
        	
        }
        .p1{
        	
        	padding-top:15px 13px 24px 24px;
        	line-height:1.5;
        	margin: auto;
        	width: 70%

        }


        nav .brand{
    	float:left;
    	line-height:70px;
    	height: 100%;
    }

 nav .brand {
    	margin:0;
    	padding:0;
    }

  nav{
        position:relative;
        top:0;
        left:0;
        width: 100%;
        height: 70px;
        background: rgb(0,0,0);
        padding:0 100px;
        box-sizing: border-box;
    }

  nav ul{
      float:left;
      display: flex;
    	margin:0;
    	padding:0;
    	
    }
   nav ul li{
    	list-style-type: none;
    }
   nav ul li a{
		position: relative;
		display:block;
		height:70px;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 24px;
		box-sizing: border-box;
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		transition: .5s;
        z-index:15;
	}
   
	nav ul li a:before{
			content: '';
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background: #fff;
			z-index: -1;
			transform-origin:right;
			transform: scaleX(0);
			transition: transform .5s;
	}
    nav ul li a:hover{
		color:#262626;
	}
	nav ul li a:hover:before{
		transform-origin:left;
		transform: scaleX(1);
	}
 
	
	#mainvid{

	}




	#merc #header{
		background-image: url('images/merc01.jpg') ;
	}
	#merc #lil.in{
		background: url('images/trex-Gwagon.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#lambo #header {
		background-image: url('images/lambo01.jpg')!important;
	}
	#lambo #lil.in{
		background: url('images/lambo02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#pors #header {
		background-image: url('images/porsche01.jpg')!important;
	}
	#pors #lil.in{
		background: url('images/porsche02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}
	#pors #header {
		background-image: url('images/porsche01.jpg')!important;
	}
	#pors #lil.in{
		background: url('images/porsche02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#niss #header {
		background-image: url('images/gtr02.jpg')!important;
	}
	#niss #lil.in{
		background: url('images/gtr01.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#mas #header {
		background-image: url('images/maserati01.jpg')!important;
	}
	#mas #lil.in{
		background: url('images/mas02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#mcl #header {
		background-image: url('images/mclaren02.jpg')!important;
	}
	#mcl #lil.in{
		background: url('images/mclaren01.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#bmw #header {
		background-image: url('images/bmw01.jpg')!important;
	}
	#bmw #lil.in{
		background: url('images/bmw02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#bug #header {
		background-image: url('images/bugatti01.jpg')!important;
	}
	#bug #lil.in{
		background: url('images/bugatti02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#jag #header {
		background-image: url('images/jaguar01.jpg')!important;
	}
	#jag #lil.in{
		background: url('images/jaguar02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#tes #header {
		background-image: url('images/tesla01.jpg')!important;
	}
	#tes #lil.in{
		background: url('images/tesla02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#lex #header {
		background-image: url('images/lexus02.jpg')!important;
	}
	#lex #lil.in{
		background: url('images/lexus01.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#inf #header {
		background-image: url('images/inf01.jpg')!important;
	}
	#inf #lil.in{
		background: url('images/inf02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	#cad #header {
		background-image: url('images/cad01.jpg')!important;
	}
	#cad #lil.in{
		background: url('images/cad02.jpeg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}
	#for #header {
		background-image: url('images/for01.jpg')!important;
	}
	#for #lil.in{
		background: url('images/for02.jpg') no-repeat center ;
		background-size:cover;
			background-attachment: fixed;
			height:40vh;
	}

	.img02{
		width: 30%;
		 margin-left: 7vh;
		  opacity:0.25;
		   float: left;
	}
	
	.img02:hover{
		transition:ease 1.75s;
		opacity: 1;
		}

		.img03{
			width: 50%;
			float: left;
			margin-top:  -100px;
		}
		.img04{
			width: 50%;
 			margin-top:-50px;
  			opacity:0;
		}

		.img04:hover{
		transition:ease 1.75s;
		opacity: 1;
		}
       
nav ul ul {
    position: absolute;
    width:100%;
    background: rgba(0,0,0,0.3);
    display:none;
    right:0;
    overflow:hidden;
    z-index:15;
}
nav ul ul li{
		display: block;
		
	}

	nav ul li:hover>ul{
		display: block;
		}
	nav ul ul li a{
		padding-top: 10px;
		padding-bottom: 10px;
		height: 40px;
        overflow:hidden;
	}


footer {
	background:linear-gradient( rgba(0, 0, 0, 0.84), rgba(0, 0, 0, 0.85) ), url('images/footer02.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	height:20vh;
	bottom:0;
}
.foot{
	margin: auto;
	text-align:center;
	color:#f4f4f4;
	padding:15px;
	
}

form{
    overflow:hidden;
	margin-top:10vh !important ;
	margin:auto;
	background-color: rgba(0, 0, 0, 0.3);
	height: 600px;
	float: right;
	margin-right: 20vh;
}

h1{
	font-size:38px;
	padding:8px 5px  !important;
}

input{
	padding: 8px 10px !important;
	font-size: 18px;
	cursor: text;
	border-radius: 7px;
	border:1px solid grey;
	box-sizing: border-box;
	width: 354px;
	margin-bottom: 10px; 

}
input.in1 {
	width: 172px
	
}

input.in2 {
	width: 172px;
	margin-right: 6px;
}
 
input[type=radio]{
    width: 50px;
	cursor:pointer;
}
 
input[type=submit]{
	cursor:pointer !important;
}
select, #year{
    width:200px;
    height:45px;
	font-size:22px;
}

#extrodinairy{
	background-color:black;
}

#regis{
	overflow:hidden;
	float:left;
	margin-left:20px;
	text-align:center;
	color: #ffffff;
	font-family:'Times New Roman', Times, serif;
	margin-top:3px;
    margin-bottom:3px;
}



	.drop1{
    float: right;
    overflow: hidden;
}
.drop1 #dropbtn {
   	height:70px;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 24px;
	display:block;
	color: #fff;
	text-decoration: none;
}
.drop2 {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    min-width: 140px;
    z-index: 1;
     overflow: hidden;
    
}

.drop2 a {
    float: none;
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.drop1:hover .drop2 {
    display: block;
}
.drop2 a:hover {
    color: #262626;
    background: #fff;
}


#t1{
    overflow: hidden;
    background-color:transparent;
    height:400px;
    width:140px;
    margin-right:50px;
}
#t2{
    overflow: hidden;
    background-color:transparent;
    height:400px;
    width:160px;
}
td{
    overflow:hidden;
    text-align:center;
    padding: 10px 10px;
    color: #fff;
}
tr{
  overflow:hidden;
  font-size: 22px;
  text-align:center;
  height:45px;
}
* {
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column .mg {
    margin-top: 8px;
    vertical-align: middle;
}
.ct{
	position: relative;
}
.md {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ct:hover .mg {
  opacity: 0.3;
}

.ct:hover .md {
  opacity: 1;
}
.md {
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 20px;
  padding: 16px 32px;
  width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
#extro{
    background-image: url('images/wheels.png') !important;

}
a.error{
    color: red !important;
}
